DOMAIN=domainName.fr

# Supabase
SUPABASE_URL=https://example.supabase.co
SUPABASE_ANON_KEY=jwttoken
SUPABASE_SERVICE_ROLE_KEY=jwttoken

# Database
DATABASE_URL="postgresql://postgres.example:example@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.example:example@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# Supabase S3
S3_ACCESS_KEY_ID=id
S3_SECRET_ACCESS_KEY=key

# Discord Keys
DISCORD_CLIENT_ID=id
OAUTH2_DISCORD_CLIENT_SECRET=secret

# Github Keys
GITHUB_CLIENT_ID=id
OAUTH2_GITHUB_CLIENT_SECRET=secret

# Email Resend
RESEND_API_KEY=key
FROM_EMAIL="Testing Team <onboarding@mail.domainName.fr>"
ALLOWED_EMAILS="*"

# Discord Bot
CLIENT_ID=id
BOT_TOKEN=token
DEV_SERVER_ID=id
GUILD_ID=id